html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;

	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
html{
  font-size: 62.5%;
}
body{
  line-height: 1.5;
  font-size: 1.8rem;
}
h1{
  font-size: 3rem;
}
a{
  font-size: 1.6rem;
}
/* Header Styles */
header{
  margin: 1rem;
}

nav{
  display: flex;
  justify-content: space-between;

}
/* Top Section Styling */

.topsection{
  display:flex;
  justify-content: center;
}
.image-button{
  background-image: url( "https://picsum.photos/600/400");
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  font-size: large;
  width: 60rem;
  height: 40rem;
}
/* .image-button button:hover{
  
  color: white;
  border: white solid 1px;
}
.image-button button a {
 
  text-decoration: none;
  color: inherit;
} */

/* Middle Section Styling */
.middle{
  display: flex;
  justify-content: center;
}
.row{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  flex-wrap: wrap;
  
  padding: 2rem;
}
.portfolio-element{
  margin: 1rem;
  text-align: center;
}
/* Button Styling */
button{
  background-color: white;
  color: black;
  border: black solid 1px;
  padding: 0.5rem 1rem;
}

button:hover{
  background-color: black;
  color: white;
  border: white solid 1px;
}
button a {
  text-decoration: none;
  color: inherit;
}

/* Footer Styling */
footer{
  background-color: lightgray;
  padding: 2rem;
  text-align: center;
}

/* Mobile Styling */
@media(max-width:500px){
  header{
    display: flex;
    justify-content: center;
    width: 100%;
    
    margin: 1rem;
  }
  header button{
    width: 60%;
  }
  nav{
    
    flex-direction: column;
    width: 40%;
    
    
    
  }
  nav h1{
    text-align: center;
    align-items: center;

  }
  links{
    text-align: center;
    
  }
  .topsection{
    display: flex;

  }
  .image-button{
    justify-content: center;
    height: 30vh;
    width: 90%;
  }
  .row{
    width: 100%;
    
  }
  .portfolio-element{
    width: 40%;
  }
  
}

/* Tablet styling */
@media(max-width:800px) {
  .row{
    width: 100%;
  }
  
}